.wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.sidebar {
  background: rgb(57, 91, 199);
  background: linear-gradient(
    187deg,
    rgba(57, 91, 199, 1) 41%,
    rgba(96, 57, 200, 1) 72%
  );
  height: 90vh;
  min-width: 250px;
  margin: 40px 0;
  border-radius: 25px;
}

.screen-container {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: left;
  margin: 40px 0 0 40px;
}
.screen-header {
  color: #545454;
  font-size: 22px;
  font-weight: 600;
  padding: 20px 0 30px 0;
  border-bottom: 2px solid #eaeaea;
}
