@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.sidebar {
  background: rgb(57, 91, 199);
  background: linear-gradient(
    187deg,
    rgba(57, 91, 199, 1) 41%,
    rgba(96, 57, 200, 1) 72%
  );
  height: 90vh;
  min-width: 240px;
  max-width: 240px;
  margin: 40px 0;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
.sidebar-items {
  padding: 0 40px;
}
.sidebar-item {
  width: 170px;
  color: #9691ed;
  padding-bottom: 11px;
  padding-top: 11px;
  border-bottom: 2px solid #6b6dd7;
}
.bottom {
  border: none;
}
.screen-container {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: left;
  margin: 40px 0 0 40px;
}
.screen-header {
  color: #545454;
  font-size: 22px;
  font-weight: 600;
  padding: 20px 0 30px 0;
  border-bottom: 2px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-name {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
.user-name img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.popup {
  position: absolute;
  height: 350px;
  width: 260px;
  transform: translateY(210px);
  z-index: 15;
  border-radius: 20px;
  background-color: #fefeff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.253);
  display: flex;
  flex-direction: column;

  align-items: center;
}
.popup img {
  margin-top: 30px;
  margin-bottom: 15px;
  height: 80px;
  width: 80px;
}
.popup .second {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.popup .first {
  font-size: 15px;
}
.popup-none {
  display: none;
}
.next-users {
  background-color: #ffffff;
  height: 100px;
  width: 200px;
  margin-top: 5px;
}
.next-user img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-user .second {
  font-size: 15px;
  padding-top: 10px;
}
.next-item {
  display: flex;
}
.next-user {
  border-top: 2px solid #5454541e;
  height: 50px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: -20px;
  margin-bottom: 10px;
}
.next-user .next-user-img {
  height: 25px;
  width: 25px;
  border-radius: 50%s;
}
.sign-out {
  background-color: #d55051;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 19px;
  font-size: 16px;
  margin-top: 20px;
}
.other-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  font-size: 80px;
  font-weight: bolder;
  color: #eeeeee;
}
.profile-body {
  display: flex;
  margin-top: 25px;
}
.profile-details {
  width: 350px;
  border-right: 2px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-details img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.account-details {
  display: grid;
  grid-template-columns: 1fr auto 2fr;
  gap: 10px;
}
.first {
  display: flex;
  justify-self: end;
  color: #ababab;
  font-weight: 600;
}
.second {
  color: #5a5a5a;
  font-weight: 700;
}

.m-2 {
  margin: 10px 0;
}
.m {
  margin-left: 20px;
}
.bottom-br {
  border-bottom: 2px solid #eaeaea;
  margin: 12px 0 0 0;
  width: 250px;
}
.address-map {
  height: 350px;
  width: 500px;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}
.map-location {
  display: flex;
  font-size: 13px;
  justify-content: flex-end;
}
.lat {
  display: flex;
}
.lng {
  margin-left: 10px;
  display: flex;
}
.chat-box {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 220px;
  margin-bottom: 10px;
  transform: translateX(-155px);
}
.chat-box .chat-user {
  display: none;
}
.active-chat-box {
  position: fixed;
  bottom: 0px;
  right: 150px;
  z-index: 16;
  height: 40px;
  width: 240px;
  margin-bottom: 10px;
  /* transform: translateX(-155px); */
  transform: translateY(-302px);
}
.active-chat-box .chat-user {
  display: flex;

  background-color: #ffffff;
  height: 300px;
  border: 1px solid #2b65c8;
}
.chat-header {
  cursor: pointer;
  background-color: #2b65c8;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  color: #dbdbdb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.chat-header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-left: 15px;
}
.chat-header-left label {
  margin-left: 10px;
}
.chat-header-right {
  padding-right: 13px;
}
.icon {
  color: white;
  size: 23px;
}
.chat-users {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 9px 0;
  font-size: 14px;
  font-weight: 600;
  color: #5a5a5a;
}
.chat-left {
  display: flex;
}
.chat-user-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 9px;
  margin-left: 15px;
}
.online {
  height: 7px;
  width: 7px;
  background-color: rgb(11, 184, 11);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 5px;
}
.active {
  color: #ffffff;
}

.chat-screen {
  position: fixed;
  height: 250px;
  width: 200px;
  bottom: 0px;
  right: 400px;
  transform: translateY(38px);
  background-color: #6b6dd7;
}
